
@media screen and (max-width: 760px){

}

html {
	height: 100%;
}

/*шапка*/
header{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #000;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:15px 20px;
	box-sizing: border-box;
}
.menusign{
	width: 50px;
	height: 50px;	
}
.menusign img{
	width: 100%;
	display:block;
}

.menunav .menubtn{
	display: block;
}
.menunav .main-menu{
	display: none;
	position: absolute;
	right: 25px;
	padding: 20px;
	list-style: none;
	margin-top: 0;
	width: 100%;
	max-width:30%;
	background-color: #000;

}

	

.menunav .main-menu li a{
	display: block;
	padding: 5px 0;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.menunav .main-menu li a:hover{
	background-color: #c1c1c1;
}

.menunav.menunav_active .main-menu{
	display: block;
}

.menubtn{
	position: relative;
	display: ;
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 50%;

}
.menubtn span,
.menubtn span::before,
.menubtn span::after{
	position: absolute;
	top: 50%;
	width: 20px;
	height: 2px;
	background: black;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
}
.menubtn span::before,
.menubtn span::after{
	content: "";
	transition: 0.2s;
}
.menubtn span::before{
	transform: translateY(-5px);
}
.menubtn span::after{
	transform: translateY(5px);
}
.menubtn.menubtn_active span{
	height: 0;
}
.menubtn.menubtn_active span:before{
	transform: rotate(45deg);	
}
.menubtn.menubtn_active span:after{
	transform: rotate(-45deg);
}
.kryg{
	display: flex;
	justify-content: space-around;
	
}
.mwalpaper{
	width: 100%;
	height: 500px;
background: white;
border: 3px solid black ;
}
.mwalpaper h1{
	text-align: center;
	margin-top: 100px;
	font-size: 300%;
}

.menu{
	background: black;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

.projecth h1{
	margin-top: 40px;
font-size: 300%;
text-align: center;
}





.aboutme h1{
	margin-top:50px;
font-size: 300%;
text-align: center;
}
.information {
display: grid;
	grid-template-columns: 50% 50%;
	justify-content: space-around;
	width: 100%;
	height: 850px;
    background: #E3E3E3; 
   
}	
.face{
	margin-top:50px;
	margin-left: 90px;
}
.about p{
width: 700px;
	height:1085px;
	margin-top: 100px;
	margin-left: -50px;
	font-size: 150%;
	font-weight: bold;
}
.whyih h1{
margin-top:50px;
font-size: 300%;
text-align: center;
}
.whyi{
	background: #E3E3E3;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: space-around;
}
.whyi1{
	position: relative;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	background: white;	
border-radius: 50%;
}
.whyi1:after,
.whyi1:before{
	position: absolute;
	display: block;
	opacity: 0;
	transition: .3s opacity ease;

}
.whyi1:hover:after,
.whyi1:hover:before{
	opacity: 1;
}
.whyi1:before{
	content: attr(data-word) ;
	padding: 20px;
	top: 144%;
	left: 0;
	border:1px solid black;
	width: 160px;
	height: 150px;
	color: white;
	background: black;
	border-radius: 10px;

	
}
.whyi1:after{
	content: '';
	top: 80%;
	left: 30px;
	width: 12px	;
	margin-top: -12px;
	height: 12px;
	box-sizing: border-box;
	border:70px solid transparent;
	border-bottom-color:black;

}
.whyi2{
	position: relative;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
}
.whyi2:after,
.whyi2:before{
	position: absolute;
	display: block;
	opacity: 0;
	transition: .3s opacity ease;

}
.whyi2:hover:after,
.whyi2:hover:before{
	opacity: 1;
}
.whyi2:before{
	content: attr(data-word) ;
	padding: 20px;
	top: 144%;
	left: 0;
	border:1px solid black;
	width: 160px;
	height: 150px;
	color: white;
	background: black;
	border-radius: 10px;

}
.whyi2:after{
	content: '';
	top: 80%;
	left: 30px;
	width: 90px	;
	margin-top: -12px;
	height: 12px;
	box-sizing: border-box;
	border:70px solid transparent;
	border-bottom-color:black;

}
.whyi3{
		position: relative;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
}
.whyi3:after,
.whyi3:before{
	position: absolute;
	display: block;
	opacity: 0;
	transition: .3s opacity ease;

}
.whyi3:hover:after,
.whyi3:hover:before{
	opacity: 1;
}
.whyi3:before{
	content: attr(data-word) ;
	padding: 20px;
	top: 144%;
	left: 0;
	border:1px solid black;
	width: 160px;
	height: 150px;
	color: white;
	background: black;
	border-radius: 10px;

	
}
.whyi3:after{
	content: '';
	top: 80%;
	left: 30px;
	width: 90px	;
	margin-top: -12px;
	height: 12px;
	box-sizing: border-box;
	border:70px solid transparent;
	border-bottom-color:black;

}
.whyi4{
		position: relative;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 50%;
}
.whyi4:after,
.whyi4:before{
	position: absolute;
	display: block;
	opacity: 0;
	transition: .3s opacity ease;

}
.whyi4:hover:after,
.whyi4:hover:before{
	opacity: 1;
}
.whyi4:before{
	content: attr(data-word) ;
	padding: 20px;
	top: 144%;
	left: 0;
	border:1px solid black;
	width: 160px;
	height: 150px;
	color: white;
	background: black;
	border-radius: 10px;

	
}
.whyi4:after{
	content: '';
	top: 80%;
	left: 30px;
	width: 90px	;
	margin-top: -12px;
	height: 12px;
	box-sizing: border-box;
	border:70px solid transparent;
	border-bottom-color:black;

}




.priceh h1{
	margin-top:50px;
font-size: 300%;
text-align: center;
}
.price{
	display: flex;
	justify-content: space-around;
	background: #E3E3E3;
	width: 100%;
	height: 1000px;
}
.price1{
	margin-top: 150px;
	border-radius: 30px;
	height: 800px;
	width: 300px;
background: white;
}
.price2{
	margin-top: 150px;
	border-radius: 30px;
	height: 800px;
	width: 300px;
background: white;
}
.price3{
	margin-top: 150px;
	border-radius: 30px;
	height: 800px;
	width: 300px;
background: white;
}
.price h1{
	text-align: center;
	font-size: 300%;
}
.downmenu{
	margin-top: 50px;
	width: 100%;
	height: 300px;
background: white;
border: 3px solid black ;
}
.whyi1 img{
		margin-top: 30px;
		margin-left: 25px;
	}
	.whyi2 img{
		margin: 36px;
	}
	.whyi3 img{
		margin-top: 20px;
		margin-left: 5px;
	}
	.whyi4 img{
		margin-left: 7px;
	}
.whinclude h1{
	font-size: 200%;
	text-align: center;
	margin-top: 150px;
}
.whinclude2 h1{
	font-size: 200%;
	text-align: center;
	margin-top: 170px;
}
.whinclude3 h1{
	font-size: 200%;
	text-align: center;
	margin-top: 170px;
}
.price li{
	margin-top: 400px;
	text-align: center;
}
.conection{
	display: flex;
	margin-top: 100px;
justify-content: space-around;
margin-left: 350px;
	width: 700px;

}
.tabs{
    display:inline-block;
}
.tabs > div{
    padding-top:10px;

}
.tabs ul{
    margin:0px;
    padding:0px;

}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    height:5px;
    background: darkgrey;
}
.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    background: #e9eaeb;
    color:#707070;
    
}
.tabs ul li.active, .tabs ul li.active:hover{
    background: darkgrey;
    color:#fff;
}
.tabs ul li:hover{
    background:#d6d6d7;
}
.projects{
	width: 100%;
	height: 1100px;
	background: #E3E3E3;
}
.tabs ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.tabs {
	width: 100%;
}
.tabs1 img{
	width: 100%;
}
.tabs li img{
	width: 90px;
	height: 90px;
}